.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background:#2563eb;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    z-index:1000;
}

.sidebar-logo{
    color:white;
    font-size:34px;
    font-weight:700;
}

.links{
    display:flex;
    align-items:center;
    gap:40px;
}

.links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    transition:.3s;
}

.links a:hover{
    color:#dbeafe;
}

.profile-menu{
    margin-left:auto;
}